* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

nav {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  background-color: white;
}

.main-content {
  max-width: 1440px;
  margin-inline: auto;
}

form {
  display: grid;
  gap: 1rem;
  padding: 3rem;
}

input,
textarea {
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  width: 100%;
  outline: none;
}

textarea {
  resize: none;
}

button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  cursor: pointer;
}
